.action {
    @include flex(center, flex-end);
    position: relative;
    margin-bottom: 10px;    

    &--asked {
        width: 100%;        
        padding-top: 8px;
        border-top: 1px solid $gray-500;
    }

    &--more-activites {
        text-align: center;

        span {
            margin-bottom: 5px;
        }

    }

    &--commented {
        width: 100%;
        padding-top: 6px;
        border-top: 1px solid $gray-500;
    }

    &--answered {
        width: 100%;
        padding-top: 6px;
        border-top: 1px solid $gray-600;

        @include after(2, null, null, 0, 0) {
            @include size(10px);            
            background: $black;
            border-radius: 50%;
            left: calc(50% - 5px);
            bottom: -15px;
        }

    }

    &--more-activites, &--commented {
        
        @include after(2, null, null, 0, 0) {
            @include size(10px);            
            background: $gray-500;
            border-radius: 50%;
            left: calc(50% - 5px);
            bottom: -15px;
        }
    }

}