.box-question {
    width: 100%;

    &__heading {        
        background: $blue-light;
        padding: 20px 5px;

        @include min-sm {
            padding: 20px 0;
        }

        @include min-md {
            height: 92px;
        }

        &--single {            
            padding: 20px 0 5px 0;

            @include min-md {
                height: 92px;
                padding: 20px 0 22px;
            }

        }

        &--left {
            @include min-md {
                padding-right: 0;
            }
        }

        &--right {
            margin-top: 1px;

            @include min-md {
                margin-top: 0;
                padding-left: 0;
            }

        }        

        &--avatar {
            @include flex;

        }

        &--question {           
            @include flex(flex-start, flex-start, column);
            height: 100%;
            margin-top: -7px;
            margin-left: 15px;

            @include min-md {
                display: block;
            }

            .title--single {                    
                @include flex;
                width: 100%;
                margin-top: 7px;

                @include min-md {
                    display: block;
                    text-align: left;
                }

            }

        }

        &--unfollow {
            @include flex;
            padding: 18px 0;
        }  

    }

    &__content {

        &--row {
            margin-right: -5px;
            margin-left: 0;            
        }

        &--col {
            padding: 0 5px;

            &:first-child {
                padding-left: 0;
            }

        }

        &--asked {
            @include flex(flex-end, center, column);
            @include sizes(90px, 190px);
            background: $blue-light;
            padding: 0 10px;
        }

        &--more-activites {
            @include flex(space-between, center, column);
            @include sizes(80px, 155px);
            background: $gray-200;            
            margin-top: 5px;
            margin-left: -5px;
            padding: 23px 10px 0 10px;

            @include min-sm {
                width: 90px;
                background: $white;
                margin-top: 35px;
                margin-left: 0;
            }

            .count {
                line-height: 5rem;
            }

        }

        &--activity {
            @include flex(space-between, center, column);
            @include sizes(80px, 155px);
            background: $gray-200;
            margin-top: 5px;
            padding: 23px 10px 0 10px;
            
            @include min-sm {
                width: 90px;
                margin-top: 35px;
            }

        }

        &--text {
            padding: 10px 10px 0 20px;

            @include min-md {
                padding: 25px 0 40px 20px;
            }

        }

        &--voting {
            @include flex(flex-end, flex-start);
            margin-top: 0;

            @include min-md {
                @include flex(center, flex-start);
                height: 100%;
                margin-top: 10px;
                margin-left: 15px;                
            }

        }

        &--small {
            @include flex(space-between);            
            margin-bottom: 30px;
            padding-left: 15px;
        }

    }

}


.box-comment {
    width: 100%;
    margin-top: 20px;
    box-shadow: -5px -8px 10px -10px $gray-300, 10px -10px 10px -10px $gray-300;

    &__offset {
        @include size(100%);
        background: $white;
        border-bottom: 1px solid $gray-200;

        @include after(1) {
            @include sizes(18px, 100%);
            background: $gray-300;

            @include min-sm {
                background: transparent;
            }            

        }
    }

    &__avatar {
        @include flex(center, flex-start);
        height: 100%;
        background: $white;
        padding: 5px 0;
        border-bottom: 1px solid $gray-300;

        @include min-sm {
            padding: 20px 0; 
            border-right: 1px solid $gray-300;
        }

    }

    &__content {
        height: 100%;
        background: $white;        
        padding: 15px 6px;
        border-bottom: 1px solid $gray-300;

        @include min-sm {
            padding: 15px 20px;
        }

        &--large {
            @include min-sm {
                padding: 10px 20px 30px 20px;
            }
        }

        &--author {
            @include flex(flex-start, center);
            height: 100%;
            white-space: nowrap;

            @include min-sm {
                height: auto;
            }

        }

        &--text {
            padding: 8px;

            @include min-sm {
                padding: 8px 0;
            }

        }

    }

    &__voting {
        @include flex(flex-end);
        background: $white;
        height: 100%;
        border-bottom: 1px solid $gray-300;
        padding-bottom: 25px;
        padding-left: 17px;

        @include min-sm {
            justify-content: center;
            padding-bottom: 0;
        }

    }

}