.radio {
    margin-right: 50px;

    input[type="radio"]:empty {
        display: none;
    }

    input[type="radio"]:empty ~ label {
        position: relative;
        cursor: pointer;
        user-select: none;
    }

    input[type="radio"]:empty ~ label:before {
        content: '';
        display: block;
        position: absolute;        
        top: 5px;
        left: -20px;        
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $gray-500;        
    }

    input[type="radio"]:checked ~ label:after {
        content: "";
        position: absolute;
        top: 5px;
        left: -20px;
        z-index: 1;        
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 1px solid $gray-500;       
    }

    input[type="radio"]:checked ~ label:before {
        content: "";
        position: absolute;
        top: 9px;
        left: -15.5px;
        z-index: 2;        
        width: 7px;
        height: 7px;
        background: $gray-600;
    }

    label {
        font-size: 1.4rem;
        font-weight: 600;
        margin: 0;     
        padding-left: 3px;          
        white-space: nowrap;
    }

}

.input {
    @include sizes(100%, 36px);
    background: $gray-100;
    padding: 0 16px;
    border: 1px solid $gray-200;
    @include transition (.2s);

    &:placeholder {
        color: $gray-500;
    }

    &:focus {
        border-color: $blue-dark;
        outline: none;        
    }

}