.avatar {
    position: relative;
    z-index: 1;     
    overflow: hidden;
    border-radius: 50%;            

    @include after(2) {
        @include size(100%);
        @include transition(.2s);
    }

    &__img {
        width: 100%;
        object-fit: cover;        
    }

    &--small {
        @include size(36px);
        cursor: pointer;

        @include min-sm {
            @include size(50px);
        }

        &:hover {

            @include after(2) {
                @include size(100%);
                background: rgba($blue-dark, .35);
            }  

        } 

        &--no-xs {
            @include size(50px);
        }

    }

    &--large {
        @include size(82px);
    }

}