h1, h2, h3, h4, h5, h6, p {
    padding: 0;
    margin: 0;
}

h1 {
    color: $gray-600;
    font-size: 2.8rem;
    line-height: 2.8rem;
    font-weight: 700;
    font-family: $os;
    letter-spacing: -.1rem;
    text-transform: uppercase;

    @include min-sm {
    }  

}

h2 {
    color: $blue-dark;
    font-size: 1.8rem;
    line-height: 1.8rem;
    font-weight: 600;
    font-family: $lora;
    font-style: italic;

    @include min-sm {
    }  

}

p {
    @include font($gray-600, 1.4rem, 2.4rem, 400);
}

.text--basic {
    @include font($gray-600, 1.4rem, 1.6rem, 600);
    font-family: $os;
}

.text--italic {
    @include font($gray-600, 1.4rem, 1.6rem, 600);
    font-family: $lora;
    font-style: italic;
}

.text--light {
    @include font($gray-500, 1.1rem, 1.4rem, 500);
    font-family: $os;
    text-transform: uppercase;
}