h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

h1 {
    @include font($gray-600, 2.8rem, 2.8rem, 700, -.1rem);
    font-family: $os;
    text-transform: uppercase;
    @include transition(.1s);

    &:hover {
        color: $blue-dark;
    }

}

h2 {
    @include font($blue-dark, 1.8rem, 1.8rem, 600, .02rem);
    font-family: $lora;
    font-style: italic;
}

h3 {
    @include font($blue-dark, 1.8rem, 1.8rem, 600);
}

p {
    @include font($gray-600, 1.2rem, 1.8rem, 400);
}

.text--basic {
    @include font($gray-600, 1.4rem, 1.6rem, 600);
    font-family: $os;
}

.text--italic {
    @include font($gray-600, 1.3rem, 1.6rem, 600);
    font-family: $lora;
    font-style: italic;

    @include min-sm {
        font-size: 1.4rem;
    }

}

.text--light {
    @include font($gray-500, 1.1rem, 1.4rem, 500);
    font-family: $os;
    text-transform: uppercase;
}