.modal.hide

    .modal__layer(data-ng-click="modalClose()")
        .modal__content

            //- User profile
            .user-profile

                .row.no-margin
                    .col-xs-12

                        //- User profile - close
                        .user-profile__close
                            .user-profile__close--button(data-ng-click="modalClose()")
                                i.icon-cancel

                .row.no-margin
                    .col-xs-12.col-md-10.offset-md-1

                        //- User profile - user info
                        .user-profile__user

                            .user-profile__user--avatar
                                .avatar.avatar--large
                                    img.avatar__img(data-ng-src="img/avatars/{{ user.id }}.jpg" alt="{{ user.name }}")

                            .user-profile__user--name
                                    h3 {{ user.name }}

                            .user-profile__user--info
                                .user-profile__user--info-item
                                    span.text--light.separator--right Member for
                                    span.text--basic 5 months

                                .user-profile__user--info-item
                                    span.text--light.separator--right Last seen
                                    span.text--basic 5 months

                                .user-profile__user--info-item
                                    span.text--light.separator--right Activity level
                                    span
                                        span.user-profile__user--level(data-ng-class="{'level--active': user.activityLevel >= 1}")
                                            i.icon-level
                                        span.user-profile__user--level(data-ng-class="{'level--active': user.activityLevel >= 2}")
                                            i.icon-level
                                        span.user-profile__user--level(data-ng-class="{'level--active': user.activityLevel >= 3}")
                                            i.icon-level
                
                .row.no-margin
                    .col-xs-12.col-md-10.offset-md-1

                        //- User profile - stats
                        .user-profile__stats

                            .user-profile__stats--heading
                                button.btn-round.btn-round--filled
                                    i.icon-arrow-left              
                                
                                .title How it all started

                                button.btn-round.btn-round--filled
                                    i.icon-arrow-right

                            .user-profile__stats--user-stats

                                .user-stats__title
                                    .text--light That's where We have been these 5 months ago

                                .user-stats__boxes

                                    .user-stats__box.rotate-35
                                        .user-stats__box--content
                                            .value {{ user.stats.peers }}
                                            .name peers

                                    .user-stats__box.rotate-15
                                        .user-stats__box--content
                                            .value {{ user.stats.discussions }}
                                            .name discussions

                                    .user-stats__box.rotate-35
                                        .user-stats__box--content
                                            .value {{ user.stats.findings }}
                                            .name findings

                                    .user-stats__box.rotate-10 
                                        .user-stats__box--content
                                            .value {{ user.stats.questions }}
                                            .name questions

                            .user-profile__stats--users-stats

                                .users-stats__title
                                    .text--light Who joined the platform that same period

                                .users-stats__boxes

                                    .users-stats__box(data-ng-repeat="item in user.usersJoinedInTheSamePeroid")
                                        .users-stats__box--avatar
                                            .avatar.avatar--small.avatar--small--no-xs(data-ng-click="showUserProfile(users[item]['id'])")
                                                img.avatar__img(data-ng-src="img/avatars/{{ item }}.jpg" alt="{{ users[item]['name'] }}")
                                        .users-stats__box--name
                                                a(href="" data-ng-click="showUserProfile(users[item]['id'])") {{ users[item]['name'] }}

                
                .row.no-margin
                    .col-xs-12.no-padding

                        //- User profile - discussion
                        .user-profile__discussion

                            .discussion__title
                                .text--light The hottest discussion these days

                            .discussion__content
                                .discussion__content--avatar
                                    .avatar.avatar--small.avatar--small--no-xs(data-ng-click="showUserProfile(users[user.hottestDiscussionTheseDays.author]['id'])")
                                        img.avatar__img(data-ng-src="img/avatars/{{ user.hottestDiscussionTheseDays.author }}.jpg" alt="{{ users[user.hottestDiscussionTheseDays.author]['name'] }}")                            

                                .discussion__content--article
                                    a(href="" data-ng-click="showUserProfile(users[user.hottestDiscussionTheseDays.author]['id'])") {{ users[user.hottestDiscussionTheseDays.author]['name'] }}
                                    span.text--light.separator--left found the guardian article
                                    a(ui-sref="home.singlequestion({ url: toUrl(user.hottestDiscussionTheseDays.question) })" data-ng-click="modalClose()")
                                        h2 {{ user.hottestDiscussionTheseDays.question }}

                                .discussion__content--stats
                                    .discussion__content--stat(data-ng-repeat="(statKey, statValue) in user.hottestDiscussionTheseDays.stats")
                                        span.text--basic.separator--right {{ statValue }}
                                        span.text--italic {{ statKey }}