header.header(ng-class="{'header--small': currentState == 'single'}")
    .container
        .header__content

            .header__content--top
                .row
                    .col-xl-2
                        .header__aside
                            .header__back
                                a.btn-round.btn-round--large.btn-round--linear(ui-sref="home.allquestions")
                                    i.icon-arrow-left

                    .col-xl-8
                        .header__main(ng-class="{'header__main--single': currentState == 'single'}")
                            .header__main--left
                                .header__logo
                                    a(href="/")
                                         h1(ng-if="currentState == 'all'") Questions
                                         h1(ng-if="currentState == 'single'") Question
                                .header__add(ng-class="{'header__add--space': currentState == 'single'}")
                                    button.btn-round.btn-round--filled
                                        i.icon-plus

                            .header__main--right(ng-if="currentState == 'all'")
                                .header__filters
                                    .radio
                                        input(type="radio" id="radio1" name="radio" ng-model="filterBy.author" value="{{ loggedUserID }}")
                                        label(for="radio1")
                                            span
                                            | My shelf

                                    .radio
                                        input(type="radio" id="radio2" name="radio" ng-model="filterBy.author" value="" selected)
                                        label(for="radio2")
                                            span
                                            | All questions

                                .header__sort
                                    span.text--italic Sort by:
                                    span.separator--both
                                        a(href="" ng-click="sortQuestions('recent')" ng-class="{'active': sortBy == 'id'}") recent
                                    span.text--italic or
                                    span.separator--left
                                        a(href="" ng-click="sortQuestions('hot')" ng-class="{'active': sortBy == 'moreActivitiesLength'}") hot

                            .header__main--right(ng-if="currentState == 'single'")
                                span.text--italic Last time discussed 
                                span.text--italic.separator--both {{ lastTimeDiscussed }} 
                                span.text--italic ago

            .header__content--bottom(ng-if="currentState == 'all'")
                .row
                    .col-xl-8.offset-xl-2         
                        .header__search
                            .header__search--input
                                input.input(type="text" placeholder="Search questions" ng-model="searchData.query")
                            .header__search--button
                                button.btn-rectangle.btn-rectangle--light(ng-click="search()")
                                    span.text-uppercase Search