html {
    font-size: 56%;

    @include min-sm {
        font-size: 62.5%;
    }

}

body {
    background: $yellow;
    min-height: 100vh;
    margin: 0 auto;
    @include font;
    font-family: $os;
}

a {
    color: $blue-dark;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -.05rem;
    text-decoration: none;
    @include transition(.2s);

    &.active {
        color: $gray-500;
        border-bottom: 1px solid $gray-500;

        &:hover {
            color: $blue-dark;
        }        

    }

    &:hover {
        color: $red;
        text-decoration: none;
    }

    &:focus{
        text-decoration: none;
    }

}

ul {
    padding: 0;    
    margin: 0;
}

ul li {
    list-style: none;   
}

i {
    font-family: 'icons';
    font-style: normal;
}