html {
    font-size: 56%;

    @include min-sm {
        font-size: 62.5%;
    }

}

body {
    background: $yellow;
    min-height: 100vh;
    @include font;
    font-family: $os;
    margin: 0 auto;
}

a {
    @include font($blue-dark, 1.4rem, 1.8rem, 600, -.05rem);
    text-decoration: none;
    @include transition(.2s);

    &.active {
        color: $gray-500;
        border-bottom: 1px solid $gray-500;

        &:hover {
            color: $blue-dark;
        }        

    }

    &:hover {
        color: $red;
        text-decoration: none;
    }

    &:focus{
        text-decoration: none;
    }

}

ul {
    margin: 0;
    padding: 0;

    & li {
        list-style: none;
    }

}

i {
    font-family: 'icons';
    font-style: normal;
}