@charset "UTF-8";

// Fonts

@import url('https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&subset=latin-ext');


// Icons

@font-face {
  font-family: "icons";
  src:url("../fonts/icons/icons.eot");
  src:url("../fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
    url("../fonts/icons/icons.woff") format("woff"),
    url("../fonts/icons/icons.ttf") format("truetype"),
    url("../fonts/icons/icons.svg#1481993753") format("svg");
  font-weight: normal;
  font-style: normal;
}

[data-icon]:before {
  font-family: "icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-cancel:before {
  content: "\63";
}
.icon-level:before {
  content: "\64";
}
.icon-arrow-left:before {
  content: "\66";
}
.icon-arrow-right:before {
  content: "\67";
}
.icon-plus:before {
  content: "\68";
}
.icon-caret-up:before {
  content: "\61";
}
.icon-caret-down:before {
  content: "\62";
}