// Animations

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

// Fonts

@mixin font ($color: $gray-600, $font-size: 1.3rem, $line-height: $font-size * 2, $font-weight: normal) {
    color: $color;
    font-size: $font-size;
    line-height: $line-height;
    font-weight: $font-weight;
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

// Flexbox

@mixin flex ($x: center, $y: center, $type: row, $wrap: nowrap) {
    display: flex;
    justify-content: $x;
    align-items: $y;
    flex-flow: $type $wrap;
}


// Media Queries

$xs: 320px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;


@mixin min-xs {
    @media (min-width: $xs) {
        @content;
    }
}

@mixin min-sm {
    @media (min-width: $sm) {
        @content;
    }
}

@mixin min-md {
    @media (min-width: $md) {
        @content;
    }
}

@mixin min-lg {
    @media (min-width: $lg) {
        @content;
    }
}

@mixin min-xl {
    @media (min-width: $xl) {
        @content;
    }
}


// Margins

.no-margin {
    margin: 0;
}

.no-margin--sm {
    @media (max-width: $sm) {
        margin: 0;
    }
}

.no-margin-top {
    margin-top: 0;
}

.no-margin-top--sm {
    @media (max-width: $sm) {
        margin-top: 0;
    }
}

.no-margin-bottom {
    margin-bottom: 0;
}

.no-margin-bottom--sm {
    @media (max-width: $sm) {
        margin-bottom: 0;
    }
}

.no-margin-left {
    margin-left: 0;
}

.no-margin-left--sm {
    @media (max-width: $sm) {
        margin-left: 0;
    }
}

.no-margin-right {
    margin-right: 0;
}

.no-margin-right--sm {
    @media (max-width: $sm) {
        margin-right: 0;
    }
}


// Paddings

.no-padding {
    padding: 0;
}

.no-padding--sm {
    @media (max-width: $sm) {
        padding: 0;
    }
}

.no-padding-top {
    padding-top: 0;
}

.no-padding-top--sm {
    @media (max-width: $sm) {
        padding-top: 0;
    }
}

.no-padding-bottom {
    padding-bottom: 0;
}

.no-padding-bottom--sm {
    @media (max-width: $sm) {
        padding-bottom: 0;
    }
}

.no-padding-left {
    padding-left: 0;
}

.no-padding-left--sm {
    @media (max-width: $sm) {
        padding-left: 0;
    }
}

.no-padding-right {
    padding-right: 0;
}

.no-padding-right--sm {
    @media (max-width: $sm) {
        padding-right: 0;
    }
}


// Positions

@mixin absolute ($z-index: 1, $top: 0, $right: null, $bottom: null, $left: 0) {
    position: absolute;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}

@mixin fixed ($z-index: 1, $top: 0, $right: null, $bottom: null, $left: 0) {
    position: fixed;
    top: $top;
    right: $right;
    bottom: $bottom;
    left: $left;
    z-index: $z-index;
}


// Pseudo elements

@mixin before ($z-index: 1, $top: 0, $right: null, $bottom: null, $left: 0) {

    &:before {
        content: '';
        position: absolute;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        z-index: $z-index;
        @content;
    }

}

@mixin after ($z-index: 1, $top: 0, $right: null, $bottom: null, $left: 0) {

    &:after {
        content: '';
        position: absolute;
        top: $top;
        right: $right;
        bottom: $bottom;
        left: $left;
        z-index: $z-index;
        @content;
    }

}


// Separators

.separator--left {
    margin-left: 8px;
} 

.separator--right {
    margin-right: 8px;
} 

.separator--both {
    margin: 0 8px;
}   

.separator--dot {
    @include size(3px);
    display: inline-block;
    background: $gray-500;
    border-radius: 50%;
    margin: 0 8px;
}


// Scrolling

.no-scroll {
    overflow: hidden;
}

.no-scroll-x {
    overflow-x: hidden;
}

.no-scroll-y {
    overflow-y: hidden;
}


// Show / Hide

.show {
    display: block;
}

.hide {
    display: none;
}

.opacity-1 {
    opacity: 1;
}

.opacity-0 {
    opacity: 0;
}


// Sizes

.h-0 {
    height: 0;
}

.w-0 {
    width: 0;
}

.h-100 {
    height: 100%;
}

.h-100vh {
    height: 100vh;
}

.w-100 {
    width: 100%;
}

.w-100vw {
    width: 100vw;
}

@mixin size ($size) {
    width: $size;
    height: $size;
}

@mixin sizes ($width, $height) {
    width: $width;
    height: $height;
}


// Spacing

@mixin no-spacing {
    margin: 0;
    padding: 0;
}


// Transitions

@mixin transition ($time) {
    transition: all $time ease-in-out;
}