//- Loading
.preloader-main(data-ng-show="loading")
    .preloader-main__loading
        .preloader-main__loading__circle

//- Header
page-header

//- Content
.container
    .content
        .row.no-margin--sm
            .col-xs-12.no-padding--sm.col-lg-10.offset-lg-1.col-xl-8.offset-xl-2           
                ui-view

//- User profile (modal)
user-profile