.voting
    .voting__content

        .voting__content--value
            span(data-ng-if="(upVotes - downVotes) >= 0").text--basic {{ upVotes - downVotes }}
            span(data-ng-if="(upVotes - downVotes) < 0").text--basic {{ (upVotes - downVotes) * -1 }}
            span(data-ng-if="(upVotes - downVotes) >= 0").text--italic.separator--both upvotes
            span(data-ng-if="(upVotes - downVotes) < 0").text--italic.separator--both downvotes
            
        .voting__content--buttons
            button(data-ng-click="voteUp()" data-ng-disabled="disableVoteUp").btn-triangle.btn-triangle--filled
                i.icon-caret-up

            button(data-ng-click="voteDown()" data-ng-disabled="disableVoteDown").btn-triangle.btn-triangle--filled
                i.icon-caret-down