.all-questions {
    background: $white;
    box-shadow: 1px 0 3px $gray-200;

    &__question {
        padding-bottom: 38px;
        border-bottom: 1px solid $gray-300;

        &--stats {
            @include flex(space-between, flex-start, column);
            height: 155px;
            margin-top: 20px;

            @include min-sm {
                margin-top: 35px;                   
            }

            .stat {
                white-space: nowrap;
                margin-bottom: 35px;

                @include min-lg {
                    margin-left: 30px;                    
                }

            }

        }

    }

    &__load-more {
        border-top: 1px solid $gray-300;
    }

}