.header {
    background: $white;
    height: auto;
    padding: 20px 0;

    @include min-lg { 
        height: 155px;
        padding: 0;
    }

    &--shadow {
        box-shadow: inset 0 2px 3px $gray-200, 0 2px 3px $gray-200;
        position: relative;
        z-index: 1;
    }

    &--small {
        height: auto;
        padding: 20px 0;

        @include min-lg {
            height: 116px;
            padding: 0;
        }

    }

    &__content {

        &--top {
            @include min-lg { 
                padding-top: 45px;
            }
        }

        &--bottom {
            margin-top: 15px;
        }            

    }

    &__aside {
        @include flex;
        height: 100%;

        @include min-sm { 
            height: auto;
            display: block;
        }

        &--back {

            @include min-lg { 
                margin-top: -5px;
                margin-left: 10px;
            }

            @include min-xl { 
                margin-left: 25px;
            }

        }

    }

    &__main {
        @include flex(center, flex-start, column);

        @include min-md {
            justify-content: space-between;
            align-items: flex-end;
            flex-flow: row nowrap;
        }

        &--single {
            @include flex(space-between, center, row, wrap);
        }        

        &--left {
            @include flex;           

            @include min-sm {
                padding-bottom: 10px;
            }

        }

        &--right {
            @include flex(flex-start, flex-end, row, wrap);

            @include min-sm {                
                margin: 10px 0;
            }

            @include min-md {
                margin: 0;
            }

        }        

    }    

    &__add {
        margin-top: 5px;
        margin-left: 25px;        

        &--space {
            margin-left: 37px;

            @include min-sm {  
                margin-left: 39px;
            }

        }

    } 

    &__filters {
        @include flex;        
        margin-top: 10px;
        margin-bottom: 3px;
        margin-left: 18px;

        @include min-sm {
            margin-top: 0;
            margin-bottom: 0;
        }

        @include min-lg {
            margin-left: 0;
        }

    }

    &__sort {
        @include flex;
        margin-top: 3px;
        margin-bottom: 3px;
        white-space: nowrap;

        @include min-sm {
            margin-top: 0;
            margin-bottom: 0;
        }

    }    

    &__search {
        @include flex;

        &--input {
            width: 100%;
            margin-right: 20px;
        }

    }    

}