.header {
    background: $white;
    height: auto;
    padding: 20px 0;

    @include min-lg { 
        height: 155px;
        padding: 0;
    }

}

.header--shadow {
    box-shadow: inset 0 2px 3px $gray-200, 0 2px 3px $gray-200;
    position: relative;
    z-index: 1;
}

.header--small {
    height: auto;
    padding: 20px 0;

    @include min-lg {
        height: 116px;
        padding: 0;
    }

}

.header__content {
}

.header__content--top {

    @include min-lg { 
        padding-top: 45px;
    }

}

    .header__aside {
        height: 100%;
        @include flex;

        @include min-sm { 
            height: auto;
            display: block;
        }

    }

        .header__back {

            @include min-lg { 
                margin-top: -5px;
                margin-left: 10px;
            }

            @include min-xl { 
                margin-left: 25px;
            }

        }


    .header__main {
        @include flex(center, flex-start, column);

        @include min-md {
            @include flex(space-between, flex-end);
        }

    }

    .header__main--single {
        @include flex(space-between, center, row, wrap);
    }

        .header__main--left {
            @include flex;           

            @include min-sm {
                padding-bottom: 10px;
            }

        }

            .header__logo {

            }

            .header__add {
                margin-left: 25px;
                margin-top: 5px;
            }

            .header__add--space {
                margin-left: 37px;

                @include min-sm {  
                    margin-left: 39px;
                }

            }

        .header__main--right {
            @include flex(flex-start, flex-end, row, wrap);

            @include min-sm {                
                margin: 10px 0;
            }

            @include min-md {
                margin: 0;
            }

        }

            .header__filters {
                @include flex;
                margin-left: 20px;
                margin-top: 3px;
                margin-bottom: 3px;

                @include min-sm {
                    margin-top: 0;
                    margin-bottom: 0;
                }

                @include min-lg {
                    margin-left: 0px;
                }

            }

            .header__sort {
                @include flex;
                white-space: nowrap;
                margin-top: 3px;
                margin-bottom: 3px;

                @include min-sm {
                    margin-top: 0;
                    margin-bottom: 0;
                }

            }


.header__content--bottom {
    margin-top: 15px;
    // padding-bottom: 15px;

    // @include min-xl {
    //     padding-bottom: 0px;
    // }

}

    .header__search {
        @include flex;
    }

    .header__search--input {
        width: 100%;
        margin-right: 20px;
    }