.content {
    background: $gray-100;
    margin-right: -10px;
    margin-bottom: 60px;
    margin-left: -10px;    
    overflow-x: hidden;

    @include min-sm {
        margin-right: 0px;   
        margin-left: 0px;             
    }

}