.single-question {

    &__question {
        background: $white;
        box-shadow: 2px 0 5px $gray-200;
    }

    &__answer {

        &--content {
            @include flex;
            width: 100%;
            transform: translateY(-50%);
        }

    }
    
    &__comments {
        padding-bottom: 40px;

        &--stats {
            @include flex;
            margin-top: 40px;
        }

    }

}