.modal {

    &__layer {
        @include fixed(999);
        @include size(100%);
        background: rgba($black, .7);
        cursor: pointer;
    }

    &__content {
        @include flex;
        padding: 25px 0;
        
    }

}


.user-profile {
    @include sizes(850px, calc(100vh - 40px));
    max-height: 1000px;
    background: $white;
    overflow-y: auto;
    cursor: default;

    &__close {
        @include flex(flex-end);
        
        &--button {
            padding: 12px 15px;
            cursor: pointer;

            i {
                color: $gray-500;
                font-size: 1.8rem;
                @include transition(.2s);
            }

            &:hover {

                i {
                    color: $red;
                }
                
            }

        }

    }

    &__user {
        padding: 0 10px;

        @include min-md {
            padding: 0 45px;
        }

        &--avatar {
            @include flex;
            margin-top: -5px;
        }

        &--name {
            @include flex;
            color: $blue-dark;
            margin-top: 20px;
        }

        &--info {
            @include flex(space-between, center, column);
            padding-top: 15px;
            padding-bottom: 25px;
            border-bottom: 1px solid $gray-500;

            @include min-md {
                @include flex(space-between, baseline);
                padding-top: 5px;                
            }
            
        }

        &--info-item {
            @include flex(center, center, column);
            margin-bottom: 15px;

            .text--light {
                font-size: 1.35rem;
            }

            @include min-md {
                display: inline;
                margin-bottom: 0;
            }

        }        

        &--level {
            position: relative;
            top: 12px;                
            margin-left: 5px;

            i {
                color: $gray-300;
                font-size: 2.4rem;
            }

            &.level--active {

                i {
                    color: $red-light;
                }

            }

        }   

    }    

    &__stats {
        margin-top: 25px;
        padding: 0 10px;

        @include min-md {
            padding: 0 45px;
        }

        &--heading {
            @include flex(space-between);

            .title {
                font-size: 2.6rem;
                font-family: $lora;
                font-style: italic;

                @include min-md {
                    font-size: 3.8rem;
                }

            }

        }

        &--users-stats {
            margin-top: 65px;
        }

    }    

    &__discussion {
        margin-top: 40px;
    }

}


.user-stats {

    &__title {
        padding: 15px 0 30px;

        @include min-md {
            padding: 45px 0;
        }

        .text--light {
            font-size: 1.35rem;
            line-height: 2rem;
            text-align: center;
        }

    }

    &__boxes {
        @include flex(center, center, row, wrap);

        @include min-md {
            flex-flow: row nowrap;
        }

    }

    &__box {
        @include flex;
        @include size(90px);
        background: $blue-light;
        margin: 0 10px;

        &.rotate-10 {
            transform: rotate(10deg);

            .user-stats__box--content {
                transform: rotate(-10deg);
            }

        }

        &.rotate-15 {
            transform: rotate(-15deg);

            .user-stats__box--content {
                transform: rotate(15deg);
            }

        }

        &.rotate-35 {
            transform: rotate(-35deg);

            .user-stats__box--content {
                transform: rotate(35deg);
            }

        }

        &--content {
            @include flex(center, center, column);

            .value {
                font-size: 2.4rem;
                font-weight: 700;
                margin-bottom: 7px;
            }

            .name {
                font-family: $lora;
            }

        }

    }

}


.users-stats {

    &__title {

        .text--light {
            font-size: 1.35rem;
            text-align: center;
        }       
                    
    }

    &__boxes {
        @include flex(center, flex-start);
        margin-top: 15px;
    }

    &__box {
        margin: 0 6px;

        &--avatar {
            @include flex;
            @include size(90px);
            background: url(../img/pattern.jpg);
            background-repeat: repeat;
        }

        &--name {
            width: 90px;
            text-align: center;
            margin-top: 5px;

            a {
                display: inline-block;
                line-height: 2rem;                            
            }

        }

    }

}


.discussion {

    &__title {

        .text--light {
            font-size: 1.35rem;
            text-align: center;
        }   

    }

    &__content {
        background: url(../img/pattern.jpg);
        background-repeat: repeat;
        margin-top: 75px;

        &--avatar {
            @include flex;
            margin-top: -20px;

            .avatar {
                transform: translateY(-50%);
            }

        }

        &--article {
            text-align: center;
            margin-top: -15px;
        }

        &--stats {
            @include flex(center, center, row, wrap);
            padding: 30px 0;

            @include min-sm  {
                @include flex;                    
            }

        }

        &--stat {
            width: 50%;
            padding: 0 10%;
            white-space: nowrap;

            @include min-sm {
                width: auto;
                margin: 0 15px;
                padding: 0;
            }

        }

    }

}